{% load static %}
<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left" style="color: white">
                <li><i class="fa fa-phone"></i> +380969297248</a></li>
                <li><i class="fa fa-envelope-o"></i>vadkirichuk@gmail.com</a></li>
                <li><i class="fa fa-map-marker"></i>ул.Кулика 123</a></li>
            </ul>
            <ul class="header-links pull-right">
                <li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Мои заказы</a></li>
                    <li><a href="{% url 'logout' %}"></i>Выйти</a></li>
                {% else %}
                <li><a class="dropdown-item" href="{% url 'login' %}">Войти</a></li>
                <li><a class="dropdown-item" href="{% url 'registration' %}">Регистрация</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="#" class="logo">
                            <h2 style="color: white; margin-top: 17px">Techno_Shop<span style="color: red">.</span></h2>
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form>
                            <input class="input" placeholder="Search here">
                            <button class="search-btn">Поиск</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <!-- Cart -->
                        <form class="d-flex">
                            <button class="btn btn-outline-light" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                <a href="{% url 'basket' %}">Корзина</a>
                                <span class="badge bg-light text-dark ms-1 rounded-pill">{{ basket.products.count }}</span>
                            </button>
                        </form>
                        <!-- Menu Toogle -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Menu Toogle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->
<script src="{% static 'bootstrap.bundle.js' %}"></script>