{% extends 'base.html' %}

{% block content %}
<h3 class="text-center mt-5 mb-5"> Ваша корзина {% if not basket.products.count %}пуста{% endif %}</h3>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Наименование</th>
      <th scope="col">Изоражение</th>
      <th scope="col">Цена</th>
      <th scope="col">Количество</th>
      <th scope="col">Общая сумма</th>
    </tr>
  </thead>
  <tbody>
  {% for item in basket.products.all %}
    <tr>
      <th scope="row">{{ item.cont_object.name_product }}</th>
      <td class="w-25"><img src="{{ item.cont_object.image_product.url }}" class="img-fluid"></td>
      <td>{{ item.cont_object.price }} грн.</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.total_price }}</td>
    </tr>
  {% endfor %}
  <tr>
      <td colspan="2"></td>
      <td>Итого:</td>
      <td> {{ basket.total_products }}</td>
      <td> {{ basket.final_amount }} грн.</td>
  </tr>
  </tbody>
</table>

{% endblock %}