{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
    <br>
    <h3 class="text-center mt-5 mb-5">{% trans 'Оформление заказа' %} </h3>
    <hr>
{% if messages %}
      {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    {% endfor %}
{% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">{% trans 'Наименование' %}</th>
                        <th scope="col">{% trans 'Цена' %}</th>
                        <th scope="col">{% trans 'Количество' %}</th>
                        <th scope="col">{% trans 'Общая сумма' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in basket.products.all %}
                        <tr>
                            <th scope="row">{{ item.cont_object.name_product }}</th>
                            <td>{{ item.cont_object.price }} грн.</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.total_price }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="1"></td>
                        <td>{% trans Итого %}:</td>
                        <td> {{ basket.total_products }}</td>
                        <td> {{ basket.total_price }} грн.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-offset-1">
                <h3 class="text-center mt-5 mb-5">{% trans 'Форма заказа' %} </h3>
                <form action="{% url 'make_order' %}" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-primary btn-block mt-3 mb-3" values="{% trans 'Оформить заказ' %}"
                           style="width: 100%">

                </form>
                <br>

            </div>
        </div>

    </div>
    </div>
{% endblock %}