{% load i18n %}
<table class="table">
  <tbody>
  <tr>
      <td>{% trans 'Бренд' %}: </td>
      <td>{{ product.brand }}</td>
    </tr>
      <tr>
      <td>{% trans 'Диагональ' %}: </td>
      <td>{{ product.diagonal }}</td>
    </tr>

  <tr>
      <td>{% trans 'Дисплей' %}: </td>
      <td>{{ product.display }}</td>
    </tr>
  <tr>
      <td>{% trans 'Процессор' %}: </td>
      <td>{{ product.cpu }}</td>
    </tr>
  <tr>
      <td>{% trans 'Оперативная память' %}: </td>
      <td>{{ product.ram }}</td>
    </tr>
  <tr>
      <td>{% trans 'Видекокарта' %}: </td>
      <td>{{ product.video }}</td>
    </tr>

  </tbody>
</table>
