<table class="table">
  <tbody>
  <tr>
      <td>Бренд: </td>
      <td>{{ product.brand }}</td>
    </tr>
      <tr>
      <td>Диагональ: </td>
      <td>{{ product.diagonal }}</td>
    </tr>

  <tr>
      <td>Дисплей: </td>
      <td>{{ product.display }}</td>
    </tr>
  <tr>
      <td>Процессор: </td>
      <td>{{ product.cpu }}</td>
    </tr>
  <tr>
      <td>Оперативная память: </td>
      <td>{{ product.ram }}</td>
    </tr>
  <tr>
      <td>Видекокарта: </td>
      <td>{{ product.video }}</td>
    </tr>

  </tbody>
</table>
