{% extends 'base.html' %}
{% load characteristic %}
{% load i18n %}
{% load static %}
{% block content %}
		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li class="breadcrumb-item"><a href="{% url 'base' %}">{% trans 'Главная' %}</a></li>
                            <li class="breadcrumb-item"><a href="{{ product.category.get_absolute_url }}">{{ product.category.name_category }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ product.name_product }}</li>

						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<div class="col-md-4" style="width: 380px;height: 400px;overflow: hidden;">
						<div id="product-img" >
							<div class="product-preview">
								<img style="width: 380px;height: 400px;object-fit: contain;"
                                     src="{{product.image_product.url}}" alt="">
							</div>
						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product details -->
					<div class="col-md-8">
						<div class="product-details">
							<h2 class="product-name">{{ product.name_product}}</h2>
							<div>
                                <div class="col-md-6">
                                    <h3 class="product-price">{{product.price}} грн.</h3>
                                </div>
                                <div class="col-md-6">
                                    <a  href="{% url 'add_to_basket' ct_model=ct_model slug=product.slug %}"> <button style="margin-top: 2px;margin-bottom: 15px" class="btn btn-primary">{% trans 'Добавить в корзину' %}</button></a>
                                </div>


							</div>
							<p>{{ product.description }}</p>
							<ul class="product-links">
								<li>{% trans 'Категория' %}:</li>
								<li><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></li>
							</ul>
                            <br>
                            <h4>{% trans 'Характеристики' %}:</h4>
                            {{ product|product_characteristic }}
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
{% endblock %}