{% extends 'base.html' %}
{% load i18n %}
{% include 'partials/header.html' %}

{% block content %}
<div class="container" style="    margin-top: 70px;
    margin-bottom: 120px;">
<h3 >{% trans 'Ваши заказы' %}  </h3>
    {% if not orders.count %}
        <div class="col-md-12">
            <h3 style="margin-top: 25px;">{% trans 'У вас еще нет заказов' %} <a href="{% url 'base' %}">{% trans 'Сделайте свой первый заказ' %}</a></h3>
        </div>
    {% else %}
        <div class="col-md-12" style="margin-bottom: 250px; margin-top: 50px">
            <table class="table">
                <thead>
                <th scope="col">{% trans 'Номер' %}</th>
                <th scope="col">{% trans 'Статус' %}</th>
                <th scope="col">{% trans 'Сумма' %}</th>
                <th scope="col">{% trans 'Товар' %}</th>
                <th scope="col">{% trans 'Дополнительно' %}</th>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <th scope="row">{{ order.id }}</th>
                        <th scope="row">{{ order.get_status_display }}</th>
                        <th scope="row">{{ order.basket.total_price }}</th>
                        <th>
                            <ol>
                                {% for item in order.basket.products.all %}
                                    <li>{{ item.product.name_product }} -> {{ item.quantity }} шт.</li>

                                {% endfor %}
                            </ol>
                        </th>
                        <td>
                            <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ order.id }}">
                                Дополнительно
                            </button>
                            <div class="modal fade" id="exampleModal-{{ order.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">{% trans 'Детализация' %}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h4 class="text-center">{% trans 'Товар' %}</h4>
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th scope="col">{% trans 'Наименование' %}</th>
                                                    <th scope="col">{% trans 'Изображение' %}</th>
                                                    <th scope="col">{% trans 'Цена' %}</th>
                                                    <th scope="col">{% trans 'Количество' %}</th>
                                                    <th scope="col">{% trans 'Общая сумма' %} </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for item in order.basket.products.all %}
                                                    <tr>
                                                    <th scope="row">{{ item.product.name_product }}</th>
                                                    <td class="w-25"><img src="{{ item.product.image_product.url }}" class="img-fluid"></td>
                                                    <td>{{ item.product.price }}</td>
                                                    <td>{{ item.quantity }}</td>
                                                    <td>{{ item.total_price }} грн.</td>
                                                    </tr>
                                                {% endfor %}
                                                <tr>
                                                    <td colspan="2"></td>
                                                    <td>{% trans 'Всего' %}: </td>
                                                    <td>{{ order.basket.total_products }}</td>
                                                    <td>{{ order.basket.total_price }} грн.</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                {% trans 'Закрыть' %}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endif %}
</div>


{% endblock %}