{% extends 'base.html' %}
{% load bootstrap_icons  %}
{% load i18n %}
{% load static %}
{% block content %}
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- STORE -->
                <div id="store" class="col-md-9">
                    <!-- store products -->
                    <div class="row">
                        <!-- product -->
                        {% for product in products %}
                            <div class="col-md-4 col-xs-6">
                                <div class="product">
                                    <div class="product-img"
                                         style="width: 100%;
                                         height: 100%;
                                         overflow:
                                         hidden;
                                         display: flex;
                                         justify-content: center">
                                        <img
                                                style="width: 230px;
                                                height: 220px;
                                                object-fit:
                                                contain;"
                                                src="{{ product.image_product.url }}" alt="">
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">{{ product.category }}</p>
                                        <h3 class="product-name"><a
                                                href="{{ product.get_absolute_url }}">{{ product.name_product|truncatechars:30 }}</a></h3>
                                        <h4 class="product-price">{{ product.price }} грн.</h4>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>{% trans 'В корзину' %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- /product -->
                    </div>
                    <!-- /store products -->
                    <!-- store bottom filter -->
{% include 'partials/pagination.html' %}
                    <!-- /store bottom filter -->
                </div>
                <!-- /STORE -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
{% endblock %}