{% load i18n %}
<table class="table">
  <tbody>
  <tr>
      <td>{% trans 'Бренд': %} </td>
      <td>{{ product.brand }}</td>
    </tr>
  <tr>
      <td>{% trans 'Модель смартфона': %} </td>
      <td>{{ product.model_smart }}</td>
    </tr>
      <tr>
      <td>{% trans 'Диагональ': %} </td>
      <td>{{ product.diagonal }}</td>
    </tr>
  <tr>
      <td>{% trans 'Дисплей': %} </td>
      <td>{{ product.display }}</td>
    </tr>
  <tr>
      <td>{% trans 'Разрешение экрана': %} </td>
      <td>{{ product.resolution }}</td>
    </tr>
  <tr>
      <td>{% trans 'Объем аккумулятора': %} </td>
      <td>{{ product.accum }}</td>
    </tr>
  <tr>
      <td>{% trans 'Оперативная память': %} </td>
      <td>{{ product.ram }}</td>
    </tr>
<tr>
      <td> {% trans 'Возможность использования SD': %} </td>
      <td>{{ product.sd_card }}</td>
    </tr>
  <tr>
      <td> {% trans 'Максимальный объем SD': %} </td>
      <td>{{ product.sd_card_max_size }}</td>
    </tr>
  <tr>
      <td>{% trans 'Главная камера': %}  </td>
      <td>{{ product.main_cam }}</td>
    </tr>
  <tr>
      <td> {% trans 'Фронтальная камера': %} </td>
      <td>{{ product.front_cam }}</td>
    </tr>
  </tbody>
</table>
